@charset "UTF-8";
/* Audrey Eyrolles - Juillet 2020
____________________ SOURCES IMG
- Terre https://pbs.twimg.com/profile_images/1046879867004956674/Y8XX4JP2_400x400.jpg
- arbre <a href="https://icons8.com/icon/k_G1j1R9fD2O/arbre-à-feuilles-caduques">Arbre à feuilles caduques icon by Icons8</
- centrale <a target="_blank" href="https://icones8.fr/icons/set/nuclear-power-plant">Centrale nucléaire icon</a> icône par <a target="_blank" href="https://icones8.fr">Icons8</a>a>
- clé <a target="_blank" href="https://icones8.fr/icons/set/wrench">Clé icon</a> icône par <a target="_blank" href="https://icones8.fr">Icons8</a>

*/
/*
responsive
maquette
custom input
alert mauvaises commandes
"historique des commandes"
place des boutons
v2 remonte quand mort
*/
body {
  margin: 0;
}
body .container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
  background-image: url("../img/univers.jpeg");
  background-attachment: fixed;
}
body .container a {
  color: white;
  font-weight: bolder;
}
body .container #lose {
  display: none;
}
body .container .bgTextColor {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
}
body .container header {
  width: 100%;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}
body .container header .title {
  padding-left: 13vw;
}
body .container header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container header ul li {
  display: block;
  margin-right: 5vw;
  list-style-type: none;
}
body .container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
body .container main .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container main .hero .consoleAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10vw;
}
body .container main .hero .consoleAndBtn .console {
  width: 30vw;
  margin-bottom: 30px;
}
body .container main .hero .consoleAndBtn .console input {
  margin-top: 10px;
}
body .container main .hero .consoleAndBtn #funBtn, body .container main .hero .consoleAndBtn #teachBtn, body .container main .hero .consoleAndBtn #feedBtn {
  background-color: rgba(133, 208, 227, 0.8);
  font-size: 1em;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
body .container main .statBar {
  width: 100%;
  height: 100%;
  background-color: rgba(250, 168, 43, 0.7);
  border-radius: 10px;
}
body .container main .border {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 75vw;
  height: 15px;
  text-align: center;
  border: 3px solid rgba(242, 76, 61, 0.9);
  border-radius: 15px;
}
body .container footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/hell.svg");
  text-align: center;
}
body .container footer .footText {
  width: 100px;
  margin-bottom: 0;
}

/* responsive :

input
hero --> column

*/

/*# sourceMappingURL=tamago.css.map */
